In [15]:
import pandas as pd
df = pd.DataFrame({"f1": [5,9,1,1,83], "f2":[14,5,5,13,11], "output": ["dog", "cat", "cat", "dog", "turtle"]})
df

   f1  f2  output
0   5  14     dog
1   9   5     cat
2   1   5     cat
3   1  13     dog
4  83  11  turtle

In [18]:
pred = pd.Series(["turtle", "cat", "dog","cat", "dog"])
     
pd.crosstab(df.output, pred)

col_0   cat  dog  turtle
output
cat       1    1       0
dog       1    0       1
turtle    0    1       0

In [19]:
pd.crosstab(df.output, pred, rownames=['actual'], colnames=['predicted'])

predicted  cat  dog  turtle
actual
cat          1    1       0
dog          1    0       1
turtle       0    1       0