In [2]:
import pandas as pd

df = pd.DataFrame({"Date":['2016-03-10','2016-03-09','2016-03-09']})
df

         Date
0  2016-03-10
1  2016-03-09
2  2016-03-09

In [3]:
import numpy as np
np.max([pd.to_datetime(df.Date).max(), pd.to_datetime(df.Date).min(), pd.Timestamp('2017-03-10')])

Timestamp('2017-03-10 00:00:00')

In [9]:
pd.to_datetime(df.Date).dt.month

0    3
1    3
2    3
Name: Date, dtype: int64

In [5]:
import re
re.compile(",(?<!&)").split("Dance, Books, Mags & Ethiopia, China,Cartoon&Fake, Indonesia&Singapore")

['Dance',
 ' Books',
 ' Mags & Ethiopia',
 ' China',
 'Cartoon&Fake',
 ' Indonesia&Singapore']

In [ ]:
import re
string = "ts0060_LOD-70234_lr2_billboards_rgba_over_s3d_lf_v5_2Kdciufa_lnh"
re.findall(r"(?<![\da-z])[a-z]+(?![\da-z])", string.lower())
['lod', 'billboards', 'rgba', 'over', 'lf', 'lnh']